@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #dfacc493, #c4f5ea)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #72948c94;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: rgba(219, 72, 91, 0.877);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(179, 59, 75, 0.712);
}

h2 {
    color: rgb(11, 182, 173);
}

p {
    text-align: justify;
}